@inject ApplicationDbContext context
@model int

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="card mb-3 mx-auto">
                        <div class="row mb-3">
                            <div class="col-md-8">
                                @context.Users.Where(i => i.UserId == Model)
                            </div>
                            <div class="col-md-4">
                                첫첫첫첫
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    Online announcement
                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>