@model User;

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}
@if (TempData["AlertMessage"] != null)
{
    <script>
        alert("@TempData["AlertMessage"]");
    </script>
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-primary">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">SignUp</h1>

                    <form method="post" asp-action="Summary">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="Username" class="form-label">Username</label>
                                <input required asp-for="Username" class="form-control" id="Username">
                            </div>
                            <div class="col-md-6">
                                <label for="PasswordHash" class="form-label">Password</label>
                                <input required asp-for="PasswordHash" class="form-control" type="password" id="Password">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="Nome" class="form-label">Name</label>
                                <input required asp-for="Name" class="form-control" id="Name">
                            </div>
                            <div class="col-md-6">
                                <label for="Cognome" class="form-label">Surname</label>
                                <input required asp-for="Surname" class="form-control" id="Cognome">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input placeholder="example@domain.com" required type="email" asp-for="Email" class="form-control" id="Email">
                        </div>
                        <div class="mb-3">
                            <label for="PhoneNumber" class="form-label">Phone number</label>
                            <div class="input-group">
                                <span class="input-group-text" style="width: 50px;">+39 </span>
                                <input required type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="PhoneNumber" name="PhoneNumber" maxlength="12" placeholder="123-456-7890">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        &reg; Do you already have an account? <a asp-area="" asp-controller="User" asp-action="Login">Log in here</a>
    </div>
</div>